<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal"
        tools:targetApi="31">
        <activity
            android:name=".activity_CrudProductos"
            android:exported="false" />
        <activity
            android:name=".activity_MenuAdmin"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOcStNwJCquyJipOjRBfQySAnplvrwUYo" />

        <activity
            android:name=".activity_ProductosToyota"
            android:exported="false" />
        <activity
            android:name=".Activity_ProductosNissan"
            android:exported="false" />
        <activity
            android:name=".activity_ProductosKia"
            android:exported="false" />
        <activity
            android:name=".activity_ProductosVolks"
            android:exported="false" />
        <activity
            android:name=".activity_ProductosTesla"
            android:exported="false" />
        <activity
            android:name=".activity_ProductosSuzuki"
            android:exported="false" />
        <activity
            android:name=".Sidevar"
            android:exported="false"
            android:label="@string/title_activity_sidevar"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true"
            android:theme="@style/Theme.ProyectoFinal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".Menu_Marcas"
            android:exported="false" />
        <activity
            android:name=".activity_registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesDeAplicacionActivity"
            android:exported="false" />
        <activity
            android:name=".activity_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_editar_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_tarjeta"
            android:exported="false" />
        <activity
            android:name=".activity_añadir_tarjeta"
            android:exported="false" />
        <activity
            android:name=".activity_ubicacion"
            android:exported="false" />
        <activity
            android:name=".activity_terminoycondicion"
            android:exported="false" />
        <activity
            android:name=".activity_pedidos"
            android:exported="false" />
        <activity
            android:name=".activity_compra"
            android:exported="false" />
        <activity
            android:name=".activity_detalle_pedido"
            android:exported="false" />
        <activity
            android:name=".activity_metodos_de_pago"
            android:exported="false" />
        <activity
            android:name=".activity_compra_exitosa"
            android:exported="false" />
    </application>

</manifest>